@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Site.css?version=1" type="text/css" rel="stylesheet" />

<!--<div class="jumbotron">
    <h1>League Of Info</h1>
    <p class="lead">League Of Info is the hot new product of Crouch Industries that works toward
                    providing all of the relevant and important information regarding the
                    professional League of Legends scene!
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>-->
<!-- main blurb about the site-->
<div>
    <h1>League of Info</h1>
    <p class="description">
        League Of Info is the hot new product of Crouch Industries that works toward
        providing all of the relevant and important information regarding the
        professional League of Legends scene!
    </p>
</div>
<!--move off to the side of the main description above-->
<aside class="leagueOfLegendsDescription">
    <h2>League of Legends</h2>
    <p>
        League of legends, created by Riot Games, is a free to play Multiplayer Online
        Battle Arena (MoBA) derived from the very popular Warcraft 3 custom game Defense
        of the Ancients (DotA).  It is a team game consisting of two teams of five whose
        goal is to farm minions for gold, kill enemy champions, buy items, and eventually
        fight their way past turrets and inhibitors in order to destroy the enemy teams
        Nexus.  It is currently the most played online game in the world with a consistent
        player base of 32 million players monthly.
    </p>
</aside>
<!--Display two rows of two links/ descriptions of the featured item for each area-->
<div class="row1">
    <div class="col-md-4">
        <h2>Featured League</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Featured Team</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row2">
    <div class="col-md-4">
        <h2>Featured Player</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Featured Champion</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
